@import '../common.scss';
#email {
  .email-from,
  .authNumber-form,
  #inputForm-email {
    width: 100%;
  }
  input {
    height: 32px;
  }
  .email-form {
    div:last-child {
      margin-bottom: 14px;
      @include bd2-font;
      color: $color-light-gray;
    }
  }
  .btn-email {
    width: 100%;
    height: 32px;
    margin-bottom: 14px;
  }
  .authNumber-form {
    @include bd1-font;
    &__contents {
      display: flex;
      height: 32px;
      & > div:last-child {
        display: flex;
        align-items: center;
        width: calc(100% - 162px);
        button {
          width: 50%;
          height: 100%;
          margin-left: 10px;
          margin-right: 5px;
          background-color: $color-primary;
          color: $color-light;
          &:disabled {
            background-color: $color-light;
            color: $color-light-gray;
          }
        }
        #timer {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: calc(50% - 20px);
          @include h2-font;
        }
      }
    }
    label {
      display: block;
      margin-bottom: 14px;
    }
    .msg {
      @include bd2-font;
      color: $color-error;
      p {
        margin-top: 8px;
      }
    }
  }
}
