@import '../common.scss';
#gender-and-birth {
  .gender {
    width: 100%;
    .btn-group {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .btn-gender {
    width: calc((100% - 16px) / 2);
    background-color: $color-white;
    border: 0.6px solid $color-light-black;
    color: $color-light-black;
    &.on {
      @include btn-selected-border-style;
    }
    &:first-child {
      margin-right: 16px;
    }
  }
}
