@import '../common.scss';
.input-form {
  @include bd1-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  label,
  input,
  .error-msg {
    margin-bottom: 14px;
  }
  input {
    padding-left: 10px;
    height: 24px;
    border: 1px solid $color-light-gray;
    border-radius: 5px;
  }
  .error-msg {
    color: $color-error;
  }
}
