@import '../common.scss';
.input-form {
  @include bd1-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  label,
  input,
  .error-msg {
    margin-bottom: 14px;
  }
  .error-msg {
    color: $color-error;
  }
}
