@import '../common.scss';
#sign-up__terms {
  width: 100%;
  .top {
    position: relative;
    border-bottom: 1px solid $color-light;
    .header,
    p:first-child {
      margin-bottom: 14px;
    }
    p {
      @include h2-font;
    }
  }
  .terms-group {
    margin-top: 16px;
    .check-box {
      margin-bottom: 10px;
    }
    button {
      @include clean-btn-style;
      @include bd2-font;
      color: $color-light-black;
      text-align: left;
      text-decoration: underline;
    }
  }
  .term {
    display: flex;
    margin-bottom: 16px;
  }
  .term__contents {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .label {
      cursor: default;
    }
  }
}
