@import '../common.scss';
.step__inner {
  position: relative;
  width: 100vw;
  // 100% -BottomNav.height -SignUpTopBar.height - progressBar.height
  height: calc(100vh - 80px - 64px - 37px);
  padding: 16px;
  padding-bottom: 5px;
  box-sizing: border-box;
  &__header {
    @include h1-font;
    margin-bottom: 16px;
  }
  button {
    @include clean-btn-style;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-light;
    &:disabled {
      background-color: $color-light;
      color: $color-light-gray;
    }
  }
  input {
    padding-left: 10px;
    border: 1px solid $color-light-gray;
    border-radius: 5px;
  }
  .next-btn {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60vw;
    height: 48px;
    button {
      @include h2-font;
      width: 100%;
      height: 100%;
    }
  }
}

#signUpTerms {
  .step__inner {
    // 100% -BottomNav.height -SignUpTopBar.height
    height: calc(100vh - 80px - 64px);
  }
}
