@import '../common.scss';
.step__inner {
  position: relative;
  width: 100vw;
  // 100% -BottomNav.height -SignUpTopBar.height - progressBar.height
  height: calc(100vh - 80px - 64px - 37px);
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 5px;
  box-sizing: border-box;
  &__header {
    @include h1-font;
    margin-bottom: 16px;
  }
  button {
    @include clean-btn-style;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-light;
    &:disabled {
      background-color: $color-light;
      color: $color-light-gray;
    }
  }
  input {
    height: 48px;
    padding-left: 10px;
    border: 1px solid $color-light-gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    button {
      @include h2-font;
      width: 80%;
      height: 100%;
    }
  }
}

#sign-up__terms {
  .step__inner {
    // 100% -BottomNav.height -SignUpTopBar.height
    height: calc(100vh - 80px - 64px);
  }
}
