@import '../common.scss';
.step__inner {
  position: relative;
  width: 100vw;
  // 100% -BottomNav.height -SignUpTopBar.height - progressBar.height
  height: calc(100vh - 80px - 64px - 37px);
  overflow-y: auto;
  padding-top: 27px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 5px;
  box-sizing: border-box;
  &__header {
    @include h3-font;
    margin-bottom: 16px;
  }
  button {
    @include clean-btn-style;
    @include btn-selected-full-style;
    &:disabled {
      @include btn-disabled-style;
    }
  }
  button,
  input {
    height: 48px;
  }
  input {
    padding-left: 10px;
    border: 1px solid $color-light-gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    button {
      @include h2-font;
      width: 80%;
      height: 100%;
    }
  }
}

#sign-up__terms {
  .step__inner {
    // 100% -BottomNav.height -SignUpTopBar.height
    height: calc(100vh - 80px - 64px);
  }
}
