@import '../common.scss';
#modal-root {
  .alert-modal {
    .modal__box {
      width: 90vw;
      height: 100px;
    }
    .modal__inner {
      padding: 14px;
    }
    p {
      @include bd1-font;
    }
    p {
      padding-top: 10px;
    }
    .btn-colse {
      right: 24px;
    }
  }
}
