// modal test 이 후 파일 삭제
#modal-test {
  position: relative;
  .btn-group {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    button {
      width: 200px;
      height: 32px;
      font-size: 1rem;
    }
  }
}
