@import '@/assets/styles/common.scss';
#job-info {
  h3 {
    @include bd1-font;
    margin-bottom: 1.5vh;
  }
  .check-box-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 30px);
    grid-gap: 6px;
  }
}
