@import '@/assets/styles/common.scss';
#sign-up__terms {
  width: 100%;
  .terms__top {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 0.6px dashed $color-dark-gray;
    .header,
    p:first-child {
      margin-bottom: 14px;
    }
    p {
      @include h2-font;
    }
    .terms__header {
      display: flex;
      flex-direction: column;
      h2 {
        @include h2-font;
        margin-bottom: 1vh;
      }
      h3 {
        @include h3-font;
      }
      margin-bottom: 16px;
    }
    .check-box {
      margin-top: 30px;
    }
  }

  .terms-group {
    margin-top: 16px;
    .check-box {
      .check-box__label {
        display: none;
      }
    }
  }
  .btn-open-modal {
    @include clean-btn-style;
    @include bd3-font;
    color: $color-light-black;
    text-align: left;
    text-decoration: underline;
    &.label {
      @include bd2-font;
      color: $color-black;
      text-decoration: none;
    }
  }
  .term {
    display: flex;
    margin-bottom: 2vh;
    height: 37px;
  }
  .term__contents {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .check-box__label {
      cursor: default;
    }
    button {
      height: initial;
    }
  }
}
