@import '../../common.scss';
#pw {
  .input-form {
    position: relative;
    .pw__check-icon,
    .btn-show-pw {
      position: absolute;
      font-size: 14px;
      height: 23px;
      width: 23px;
    }
    .pw__check-icon {
      right: 10px;
      color: $color-light-black;
      &.on {
        color: $color-primary;
      }
    }
  }
  .btn-show-pw {
    right: 38px;
    background-color: rgba(240, 248, 255, 0);
  }
}
#inputForm-pw {
  .btn-show-pw,
  .pw__check-icon {
    //label.height + input 50%
    top: calc(22.4px + 14px + 16px);
  }
}
#inputForm-confirmPw {
  .btn-show-pw,
  .pw__check-icon {
    //input 50%
    top: calc(16px);
  }
}
