@import '@/common.scss';
#sign-up__top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 6vw;
  box-sizing: border-box;
  border-bottom: 1px solid $color-light;
  button,
  .title {
    height: 32px;
    @include h2-font;
    color: $color-black;
  }
  button {
    @include clean-btn-style;
    position: absolute;
    top: calc((100% - 32px) / 2);
    left: 6vw;
    width: 32px;
  }
}
