.confirm-modal {
  .contents .term__contents {
    text-align: left;
  }
}
.modal__contents__term {
  width: 100%;
  //confirmModal.maxHeight - modalInner.padding*2 - title.height - modalContent.paddingBottom - button.height
  height: calc((80vh - 44px - 26px - 34px - 4vh) * 0.8);
  margin-top: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  h2,
  h3,
  h4,
  li,
  p {
    text-align: left;
  }
  h3,
  h4,
  li,
  p {
    @include bd2-font;
  }
  h3 {
    font-weight: bold;
  }
  .article,
  ul,
  li,
  p {
    margin-top: 10px;
  }
}
