@import '../modalCommon.scss';
.confirm-modal {
  .modal__background {
    @include background;
  }
  .modal__box {
    @include modal-box;
    width: 283px;
  }
  .modal__inner {
    @include modal-inner;
    min-height: calc(100vw * 0.77 * 0.58);
  }
  // confirm-modal 의 height는 .modal__inner을 통해 조절
  title {
    @include h2-font;
    display: block;
  }
  .contents {
    @include bd1-font;
    padding-bottom: 34px;
    text-align: center;
  }
  .btn-group {
    position: absolute;
    bottom: 23px;
    left: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //100% - padding.left -padding.right
    width: calc(100% - 42px);
  }
  button {
    @include bd1-font;
    //100& - 버튼 간격
    width: calc((100% - 4%) / 2);
    height: 39px;
  }
  .btn-yes {
    @include btn-selected-border-style;
    margin-right: 10px;
  }
  .btn-no {
    @include btn-selected-full-style;
  }
  button {
    @include clean-btn-style;
  }
}
