@import '../../assets/styles/common.scss';

.curation {
  min-width: 360px;
  max-width: 540px;
  height: 800px;
  width: 100%;
  margin: 0 auto;
  &Title {
    border-bottom: 1px solid #d9d9d9;
    &Container {
      padding: 14px 21px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      img {
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
      &Text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include h2-font;
      }
      &Icons {
        svg {
          &:nth-last-child(1) {
            margin-left: 20px;
          }
          &:hover {
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
    }
  }
  &MainText {
    padding: 27px 21px;
    @include h2-font;
  }
}
