@import '@/common.scss';
$background-color: rgba(117, 117, 117, 0.4);
@mixin background {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
}
@mixin modal-box {
  position: relative;
  background-color: $color-white;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px rgba(166, 166, 166, 0.25);
}
@mixin modal-inner {
  padding: 23px;
  box-sizing: inherit;
}
@mixin modal-root {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}
@mixin reset-btn-style {
  background-color: $color-white;
  border: none;
}
#modal-root,
#bottom-nav-modal-root {
  @include modal-root;
  font-size: 16px;
  color: $color-black;
}
.modal__background {
  position: relative;
}
