@import '@/assets/styles/common.scss';
.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 37px 21px;
  box-sizing: border-box;
  border-bottom: 1px solid $color-light;
  button,
  h2 {
    height: 32px;
    @include h2-font;
    color: $color-black;
  }
  button {
    @include clean-btn-style;
    position: absolute;
    top: calc((100% - 32px) / 2);
    left: 21px;
    width: 32px;
  }
}
.inner {
  position: relative;
  width: 100%;
  //100vh - bottomNav.height = topBar.height
  height: calc(100vh - 80px - 89.55px);
  padding: 22px;
  box-sizing: border-box;
  h3 {
    @include h3-font;
    margin-bottom: 29px;
  }
  input {
    height: 48px;
  }
}
.btnContainer {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnChangePw {
  width: 80%;
}
