@import '@/assets/styles/common.scss';
.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    @include h2-font;
    padding: 32px 22px;
    box-sizing: border-box;
  }
}
.inner {
  position: relative;
  width: 100%;
  //100vh - bottomNav.height = topBar.height
  height: calc(100vh - 80px - 89.55px);
  padding: 22px;
  box-sizing: border-box;
  h3 {
    @include h3-font;
    margin-bottom: 29px;
  }
}
.btnContainer {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnChangePw {
  width: 80%;
}
