@import '@/common.scss';

#log-in {
  width: 100vw;
  //100vh - bottomNav.height
  height: calc(100vh - 94px);
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    @include clean-a-style;
  }
  button {
    @include clean-btn-style;
  }
  .inner {
    width: 88vw;
  }
  .logo {
    @include sofia-h1-font;
    text-align: center;
  }
  h1 {
    @include sofia-h1-font;
    margin-bottom: 11px;
  }
  h3 {
    @include bd1-font;
    text-align: center;
  }
  //log-in__content
  .log-in__data {
    margin-top: 34px;
  }
  .log-in__data__email,
  .log-in__data__pw,
  .btn-log-in,
  .btn-sign-up,
  .error-msg {
    height: 6vh;
  }
  .log-in__data__email,
  .log-in__data__pw {
    position: relative;
    margin-bottom: 2vh;
    input {
      @include bd1-font;
      width: 100%;
      height: 100%;
      padding-left: 20px;
      padding-right: calc(15px + 18px);
      box-sizing: border-box;
      border: 0.6px solid $color-light-black;
      border-radius: 5px;
    }
    button {
      width: calc(6vh * 0.3);
      height: calc(6vh * 0.3);
      position: absolute;
      top: calc((100% - (6vh * 0.3)) / 2);
      right: 15px;
    }
  }
  .log-in__data__email {
    button {
      color: $color-light-black;
    }
  }
  //log-in__util
  .log-in__util {
    display: flex;
    justify-content: space-between;
  }
  // keep
  // find
  .log-in__util__keep {
    .check,
    .label {
      height: 16px;
    }
    .check-box {
      .label {
        @include navigation-font;
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
    }
    .check {
      width: 16px;
    }
  }
  .link-find-pw {
    @include bd2-font;
    color: $color-light-black;
    &:hover,
    &.on {
      color: $color-primary;
    }
  }

  //btn -log-in , btn -sign-up
  .btn-log-in,
  .btn-sign-up {
    @include h2-font;
    width: 100%;
    border-radius: 5px;
  }
  .btn-log-in {
    @include btn-selected-full-style;
    margin-bottom: 16px;
  }
  .btn-sign-up {
    @include btn-selected-border-style;
  }
  // error msg , banner
  .error-msg,
  .banner {
    box-sizing: border-box;
    position: relative;
    @include bd2-font;
    color: $color-primary;
  }
  .error-msg {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding: 4px 0;
    }
  }
  .banner {
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #fff3f6;
    border-radius: 6px;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff3f6;
    }
  }
}
