@import '@/common.scss';
.input-form {
  @include bd1-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  label,
  input {
    margin-bottom: 1.3vh;
  }
  label {
    @include bd1-font;
  }
  input {
    @include bd1-font;
    padding-left: 10px;
    border: 0.6px solid $color-light-black;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    &:focus {
      outline: none;
      border-color: $color-dark-black;
    }
  }
  .error-msg {
    @include bd3-font;
    margin-left: 5px;
    margin-bottom: 1.63vh;
    color: $color-error;
    &.email {
      color: $color-light-black;
    }
  }
}
