@import '../modalCommon.scss';
.confirm-modal {
  .modal__background {
    @include background;
  }
  .modal__box {
    @include modal-box;
    width: 77%;
    max-width: calc($app-max-width * 0.6);
  }
  .modal__inner {
    @include modal-inner;
    position: relative;
    padding: 23px 21px calc(23px + 39px) 21px;
    min-height: 168px;
    max-height: 72vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // confirm-modal 의 height는 .modal__inner을 통해 조절
  &__title {
    @include h2-font;
    display: block;
    height: fit-content;
  }
  &__contents {
    @include bd1-font;
    text-align: center;
    padding-bottom: 23px;
  }
  &__btn-group {
    position: absolute;
    left: 21px;
    bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 42px);
  }
  button {
    @include bd1-font;
    //100& - 버튼 간격
    width: 115px;
    height: 39px;
  }
  .btn-yes {
    @include btn-selected-border-style;
    margin-right: 10px;
  }
  .btn-no {
    @include btn-selected-full-style;
  }
  button {
    @include clean-btn-style;
  }
  .home__modal__contents__inner {
    margin-top: 23px;
  }
}
