@import '@/common.scss';

.searchPage {
  .contents {
    padding: 22px 20px;

    > h2 {
      @include bd1-font;
      color: #121212;
      margin-bottom: 10px;
    }

    .productSection {
      display: flex;
      width: 100%;
      gap: 10px;
      overflow-x: auto;
    }
  }
}
