.searchPage {
  .contents {
    padding: 22px 20px;

    > h2 {
      line-height: 22.4px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .productSection {
      display: flex;
      width: 100%;
      gap: 10px;
      overflow-x: auto;
    }
  }
}
