@import '../modalCommon.scss';

.toast-modal {
  position: absolute;
  .modal__box {
    background-color: $color-light;
    border-radius: 6px;
    height: 39px;
    width: 200px;
    color: $color-primary;
  }
  .modal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .contents {
    @include navigation-font;
  }
}
