$color-primary: #ff6b8f;
$color-middle: #ff86a3;
$color-black: #121212;
$color-light-gray: #9e9e9e;
$color-light: #eeeeee;
$color-white: #ffffff;
$color-error: #ff3939;
@font-face {
  font-family: 'sofia-pro-bold';
  src: url('./fonts/Sofia\ Pro\ Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'sofia-pro-light';
  src: url('./fonts/sofiapro-light.otf');
  font-style: normal;
}
@mixin sofia-bold-font-family {
  font-family: 'sofia-pro-bold', 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}
@mixin sofia-light-font-family {
  font-family: 'sofia-pro-light', 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
}
@mixin sofia-h1-font {
  @include sofia-bold-font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}
@mixin sofia-h2-font {
  @include sofia-bold-font-family;
  font-size: 15px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.05%;
}
@mixin sofia-h2-light-font {
  @include sofia-light-font-family;
  font-size: 12px;
  font-weight: 300;
  line-height: 160%;
}
// 아래의 font 들은 "Pretendard"를 사용하므로 따로 font-family 지정할 필요 없음
@mixin h1-font {
  font-size: 18px;
  font-weight: 800;
  line-height: 160%;
}
@mixin h2-font {
  font-size: 16px;
  font-weight: 800;
  line-height: 160%;
  letter-spacing: -0.05%;
}
@mixin h3-font {
  font-size: 15px;
  font-weight: bold;
  line-height: 160%;
}
@mixin bd1-font {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.05%;
  line-height: 160%;
}
@mixin bd2-font {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.05%;
  line-height: 160%;
}
@mixin bd3-font {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.05%;
  line-height: 150%;
}

@mixin navigation-bold-font {
  font-size: 12px;
  font-weight: bold;
  line-height: 160%;
}
@mixin navigation-font {
  font-size: 12px;
  font-weight: 600;
  line-height: 160%;
}
@mixin clean-btn-style {
  background-color: #ffffff00;
  border: none;
  padding: 0;
}

@mixin clean-a-style {
  &:link,
  &:active,
  &:visited {
    color: $color-black;
    font-style: initial;
    text-decoration: none;
  }
}
