@import './common.scss';

#login {
  width: 100vw;
  height: 100vh;
  a {
    @include clean-a-style;
  }
  button {
    @include clean-btn-style;
  }
  .inner {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .logo {
    @include sofia-h1-font;
    text-align: center;
  }
  h2 {
    @include h2-font;
    text-align: center;
    margin-top: 16px;
  }
  //login__content
  .login__data {
    margin-top: 32px;
  }
  .login__data__email,
  .login__data__pw {
    position: relative;
    height: 40px;
    padding-bottom: 14px;
    input {
      width: 100%;
      height: 100%;
      padding-left: 14px;
      padding-right: 28px;
      box-sizing: border-box;
      @include h2-font;
      border: 0.6px solid $color-light-gray;
      border-radius: 5px;
    }
    button {
      position: absolute;
      //parent.height - button.height - parent.height
      top: calc((100% - 14px - 14px) / 2);
      right: 14px;
    }
  }
  .login__data__email {
    button {
      color: $color-light-gray;
    }
  }
  //login__util
  .login__util {
    display: flex;
    justify-content: space-between;
  }
  // keep

  // find
  .login__util__find {
    a {
      @include bd2-font;
      color: $color-light-gray;
    }
  }
  //btn -login , btn -singup
  .btn-login,
  .btn-signup {
    @include clean-a-style;
    @include h2-font;
    width: 100%;
    padding: 14px 20px 10px;
    border-radius: 5px;
  }
  .btn-login {
    background: $color-primary;
    color: $color-white;
    margin-bottom: 16px;
  }
  .btn-signup {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
  }
  // error msg , banner
  .error-msg,
  .banner {
    box-sizing: border-box;
    position: relative;
    @include bd2-font;
    color: $color-primary;
  }
  .error-msg {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding: 4px 0;
    }
  }
  .banner {
    padding: 14px;
    margin-top: 32px;
    background-color: #fff3f6;
    border-radius: 6px;
    &::before {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff3f6;
    }
  }
}
