// modal test 이 후 파일 삭제 
#modal-test{
  position: relative;
  .btns{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    button {
      width: 200px;
      height: 32px;
      font-size: 1rem;
    }
  }
  #toast-modal-target{
    position: absolute;
    top: 50vh;
    left: calc((100% - 200px)/2);
    width: 200px;
    height: 50px;
    background-color: rgb(208, 250, 242);
    border: 1px solid rgb(183, 209, 204);
    text-align: center;
    line-height: 50px;
  }
}
