@import '../modalCommon.scss';
.toast-modal {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  .modal__box {
    background-color: $color-light;
    border-radius: 6px;
    min-height: 39px;
    max-height: 58px;
    padding: 10px 18px;
    box-sizing: border-box;
    color: $color-primary;
  }
  .modal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .toast-modal__contents {
    @include navigation-font;
    p {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
