@import './styles/genderAndBirth';
@import './styles/jobInfo';
@import './styles/signUpTopBar';
@import './styles/signUpTerms';
@import './styles/stepInner';
@import './styles/terms';
@import './styles/progressBar';
#sign-up {
  .check-box {
    height: 3.8vw;
    max-height: 30px;
    .check {
      width: 3.8vw;
      max-width: 148px;
      height: 100%;
    }
  }
  .label {
    @include bd1-font;
  }

  .msg {
    @include bd2-font;
    margin: 13px 0;
    color: $color-error;
  }
}
